# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# RStudio
.Renviron
.Rprofile
*.knit.md
*.utf8.md
.httr-oauth
rsconnect/
*_cache/

# Package specific
*.tar.gz
*.Rcheck/

# Experiment resources
droptoken.rds
app/resources/*
!app/resources/.gitkeep

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Logs
*.log
logs/

# System Files
.DS_Store
Thumbs.db
*.swp
*~
.env

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archive
archive/
